<nz-form-item>
  <nz-form-label [nzSpan]="null">{{ label }}</nz-form-label>
  <nz-form-control
    [nzSpan]="null"
    nzHasFeedback
    [nzValidatingTip]="'Validando ' + label + '...'"
    [nzErrorTip]="'¡Debe introducir un ' + prefijo + label +'!'">
    <nz-input-group [nzSuffix]="suffixTemplate">
      <input
        nz-input
        [type]="passwordVisible ? 'text' : 'password'"
        [formControlName]="controlName!"
        [placeholder]="'Ingrese un' + prefijo + ' ' + label"
      />
    </nz-input-group>
    <ng-template #suffixTemplate>
      <span
        style="cursor: pointer;"
        nz-icon
        [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
        (click)="passwordVisible = !passwordVisible"
      ></span>
    </ng-template>    
  </nz-form-control>
</nz-form-item>
